page-shipment-detail,
.shipments {
  .itemm {
    padding-left: 10px;
    ion-thumbnail {
      img {
        width: 64px;
        height: 64px;
        margin-bottom: .5rem;
        border-radius: 1rem;
      }
    }
  }
  .seat {
    img {
      width: 32px;
      height: 32px;
      border-radius: 1rem;
    }
  }
}
