<!-- -->
<ion-content padding class="animated fadeIn login auth-page">
	<div class="login-content">

		<!-- Logo -->
		<div padding-horizontal text-center class="animated fadeInDown">
			<div class="logo">
			</div>
			<h2 ion-text class="text-white" no-margin>
				<span ion-text color="light">PMT</span><strong>Online</strong>
			</h2>
		</div>

		<div padding-vertical>
		  <ion-segment [(ngModel)]="auth" color="light">
		    <ion-segment-button value="login">Login</ion-segment-button>
		    <ion-segment-button value="register">Register</ion-segment-button>
		  </ion-segment>
		</div>

		<div [ngSwitch]="auth">
			<!-- Login form -->
			<div id="loginForm" *ngSwitchCase="'login'">
				<form [formGroup]="onLoginForm" class="list-form">
					<ion-item>
		        <ion-label floating>
		          <ion-icon name="call" item-start class="text-white"></ion-icon>
		          Phone
		        </ion-label>
		        <ion-input type="phone" formControlName="phone"></ion-input>
		      </ion-item>
		      <p ion-text color="danger" class="text-1x has-error" *ngIf="onRegisterForm.get('phone').touched && onRegisterForm.get('phone').hasError('required')">This field is required</p>
					
					<ion-item>
						<ion-label floating>
							<ion-icon name="mail" item-start class="text-white"></ion-icon>
							Email
						</ion-label>
						<ion-input type="email" formControlName="email"></ion-input>
					</ion-item>
					<p ion-text color="danger" class="text-1x has-error" *ngIf="onLoginForm.get('email').touched && onLoginForm.get('email').hasError('required')">This field is required</p>

					<ion-item>
						<ion-label floating>
							<ion-icon name="lock" item-start class="text-white"></ion-icon>
							Password
						</ion-label>
						<ion-input type="password" formControlName="password"></ion-input>
					</ion-item>
					<p ion-text color="danger" class="text-1x has-error" *ngIf="onLoginForm.get('password').touched && onLoginForm.get('password').hasError('required')">This field is required</p>
				</form>

				<p text-right ion-text color="light" tappable (click)="forgotPass()"><strong>Forgot Password?</strong></p>

				<div>
					<button ion-button icon-start block color="secondary" (click)="login()" [disabled]="!onLoginForm.valid">
						<ion-icon name="log-in"></ion-icon>LOGIN</button>

					<p></p>

				</div>
			</div>




			
			<div id="registerForm" *ngSwitchCase="'register'">
		    <!-- Register form -->
		    <form [formGroup]="onRegisterForm" class="list-form">
		      <ion-item>
		        <ion-label floating>
		          <ion-icon name="person-add" item-start class="text-white"></ion-icon>
		          Surname
		        </ion-label>
		        <ion-input type="text" formControlName="surname" id="surname"></ion-input>
		      </ion-item>
		      <p ion-text color="danger" class="text-1x has-error" *ngIf="onRegisterForm.get('surname').touched && onRegisterForm.get('surname').hasError('required')">This field is required</p>
					
					<ion-item>
		        <ion-label floating>
		          <ion-icon name="person" item-start class="text-white"></ion-icon>
		          Other name
		        </ion-label>
		        <ion-input type="text" formControlName="other_name" id="other_name"></ion-input>
		      </ion-item>
		      <p ion-text color="danger" class="text-1x has-error" *ngIf="onRegisterForm.get('other_name').touched && onRegisterForm.get('other_name').hasError('required')">This field is required</p>
					
					<ion-item>
		        <ion-label floating>
		          <ion-icon name="female" item-start class="text-white"></ion-icon>
		          Gender
		        </ion-label>
		        <ion-select formControlName="gender" id="gender" interface="popover">
							<ion-option value="MALE">Male</ion-option>
							<ion-option value="FEMALE">Female</ion-option>
						</ion-select>
		      </ion-item>
		      <p ion-text color="danger" class="text-1x has-error" *ngIf="onRegisterForm.get('gender').touched && onRegisterForm.get('gender').hasError('required')">This field is required</p>
					
					<ion-item>
		        <ion-label floating>
		          <ion-icon name="call" item-start class="text-white"></ion-icon>
		          Phone
		        </ion-label>
		        <ion-input type="phone" formControlName="phone" id="phone"></ion-input>
		      </ion-item>
		      <p ion-text color="danger" class="text-1x has-error" *ngIf="onRegisterForm.get('phone').touched && onRegisterForm.get('phone').hasError('required')">This field is required</p>

		      <ion-item>
		        <ion-label floating>
		          <ion-icon name="mail" item-start class="text-white"></ion-icon>
		          Email
		        </ion-label>
		        <ion-input type="email" formControlName="email" id="email"></ion-input>
		      </ion-item>
		      <p ion-text color="danger" class="text-1x has-error" *ngIf="onRegisterForm.get('email').touched && onRegisterForm.get('email').hasError('required')">This field is required</p>

		      <ion-item>
		        <ion-label floating>
		          <ion-icon name="lock" item-start class="text-white"></ion-icon>
		          Password
		        </ion-label>
		        <ion-input type="password" formControlName="password" id="password"></ion-input>
		      </ion-item>
		      <p ion-text color="danger" class="text-1x has-error" *ngIf="onRegisterForm.get('password').touched && onRegisterForm.get('password').hasError('required')">This field is required</p>
					
				<ion-item>
		        <ion-label floating>
		          <ion-icon name="person" item-start class="text-white"></ion-icon>
		          Next-of-Kin
		        </ion-label>
		        <ion-input type="text" formControlName="contact_person" id="contact_person"></ion-input>
		      </ion-item>
		      <p ion-text color="danger" class="text-1x has-error" *ngIf="onRegisterForm.get('contact_person').touched && onRegisterForm.get('contact_person').hasError('required')">This field is required</p>
					
				<ion-item>
		        <ion-label floating>
		          <ion-icon name="call" item-start class="text-white"></ion-icon>
		          Next-of-Kin Phone
		        </ion-label>
		        <ion-input type="tel" formControlName="contact_person_phone" id="contact_person_phone"></ion-input>
		      </ion-item>
		      <p ion-text color="danger" class="text-1x has-error" *ngIf="onRegisterForm.get('contact_person_phone').touched && onRegisterForm.get('contact_person_phone').hasError('required')">This field is required</p>

		    <div margin-top>
		      <button ion-button block color="secondary" (click)="register()" [disabled]="!onRegisterForm.valid">
		        SIGN UP
		      </button>

		      <p></p>

				</div>
			</form>

		  </div>

		</div>


	</div>
</ion-content>
