<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Local Weather</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="common-bg">
  <ion-card class="full-width" no-margin margin-bottom>
    <ion-card-content no-padding>

      <ion-item>
        <ion-label class="text-1x bold">Select Local</ion-label>
        <ion-select [(ngModel)]="wLocation" (ionChange)="getWeather(wLocation)">
          <ion-option *ngFor="let location of locationList" [value]="location">{{ location.city }}</ion-option>
        </ion-select>
      </ion-item>

    </ion-card-content>
  </ion-card>

  <ion-grid class="card" padding *ngIf="record">
    <ion-row>
        <ion-col width-50 offset-25>
            <h2 class="location text-dark">{{ record.name }}</h2>
            <div class="icon"><img src="{{ getIcon(record.weather.icon) }}" alt="weather"></div>
            <h3 class="desc">{{ record.weather.main }}: {{ record.weather.description }}</h3>
            <h1 class="temp">{{ record.main?.temp }}&deg;</h1>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col width-100>
            <ion-list>

                <ion-item>
                  <strong>Coord:</strong> Long: {{ record.coord?.lon }} Lat:{{ record.coord?.lat }}
                </ion-item>
                <ion-item>
                  <strong>Temp:</strong> {{ record.main?.temp }}&deg;
                </ion-item>
                 <ion-item>
                    <strong>Humidity:</strong> {{ record.main?.humidity }}%
                </ion-item>
                 <ion-item>
                    <strong>Pressure:</strong> {{ record.main?.pressure }}hPa
                </ion-item>
                 <ion-item>
                    <strong>Visibility:</strong> 
                </ion-item>
                <ion-item>
                    <strong>Wind:</strong> {{ record.wind?.speed }}m/s {{ record.wind?.deg }}deg
                </ion-item>
                <ion-item>
                    <strong>Rain 3hr:</strong> {{ record.rain['3h'] ? record.rain['3h'] : '' }}mm
                </ion-item>
                <ion-item>
                    <strong>Cloudiness:</strong> {{ record.clouds?.all }}%
                </ion-item>

            </ion-list>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
