<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Local Weather</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="common-bg">
  <ion-card class="full-width" no-margin margin-bottom>
    <ion-card-content no-padding>

      <ion-item>
        <ion-label class="text-1x bold">Select Local</ion-label>
        <ion-select [(ngModel)]="selectedCity" (ionChange)="getWeather(selectedCity)">
          <ion-option *ngFor="let city of cities" [value]="location">{{ city.name }} ∙ {{ city.country_iso2 | uppercase }}</ion-option>
        </ion-select>
      </ion-item>

    </ion-card-content>
  </ion-card>

  <ion-grid class="card" padding *ngIf="city">
    <ion-row>
        <ion-col width-50 offset-25>
            <h2>{{ city.name }} ∙ {{ city.country_iso2 | uppercase }}</h2>
            <ion-list *ngIf="city?.terminal_ids?.length > 0">
                <ion-item-sliding *ngFor="let terminal of terminal_ids">
                  <ion-item class="itemm" text-wrap>
                    <p><strong>{{ terminal.name }}</strong></p>
                    <h3><a href="tel:{{ terminal.phone }}" color="energy" medium>{{ terminal.phone }}</a></h3>
                    <p>{{ terminal.manager }}</p>
                    <p>{{ terminal.address }}</p>
                  </ion-item>
                </ion-item-sliding>
              </ion-list>
        </ion-col>
    </ion-row>
    <ion-row *ngIf="cityWeather">
        <ion-col width-100>
            <ion-list>
                <ion-item>
                    <img src="{{ getIcon(cityWeather.weather?.icon) }}" alt="weather">
                    <h3 class="desc">{{ cityWeather.weather?.main }}: {{ cityWeather.weather?.description }}</h3>
                </ion-item>
                <ion-item>
                  <strong>Coord:</strong> Long: {{ cityWeather.coord?.lon }} Lat:{{ cityWeather.coord?.lat }}
                </ion-item>
                <ion-item>
                  <strong>Temp:</strong> {{ cityWeather.main?.temp }}&deg;
                </ion-item>
                 <ion-item>
                    <strong>Humidity:</strong> {{ cityWeather.main?.humidity }}%
                </ion-item>
                 <ion-item>
                    <strong>Pressure:</strong> {{ cityWeather.main?.pressure }}hPa
                </ion-item>
                 <ion-item>
                    <strong>Visibility:</strong> 
                </ion-item>
                <ion-item>
                    <strong>Wind:</strong> {{ cityWeather.wind?.speed }}m/s {{ cityWeather.wind?.deg }}deg
                </ion-item>
                <ion-item>
                    <strong>Rain 3hr:</strong> 
                </ion-item>
                <ion-item>
                    <strong>Cloudiness:</strong> {{ cityWeather.clouds?.all }}%
                </ion-item>

            </ion-list>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
