<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Terminals</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="common-bg">
  <ion-grid fixed>
    <ion-row>
      <ion-col col-12 margin-bottom>
        <ion-card *ngIf="!terminals.length" class="primary-bg" margin-top>
          <ion-card-content>
          	<p text-center class="text-white">List of PMT and PML terminals in Nigeria.</p>
          </ion-card-content>
        </ion-card>

        <ion-list *ngIf="terminals.length > 0">
          <ion-item-sliding *ngFor="let terminal of terminals">
            <ion-item class="itemm" text-wrap>
              <ion-thumbnail item-start class="round">
                <img src="{{ terminal.photo }}"/>
              </ion-thumbnail>
              <h2 ion-text color="secondary">
                <strong>{{ terminal.name  }}</strong>
              </h2>
              <h3> <strong>{{ terminal.phone }}</strong></h3>
              <h4>{{ terminal.manager }}</h4>
              <p>{{ terminal.address }}</p>
            </ion-item>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
