page-home,
.home {

  .icon-title {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    background: url("../assets/img/tripionic-ico.png") no-repeat;
    background-size: 100%;
  }

}
