<!-- -->
<ion-header>
  <ion-navbar class="no-border" color="primary">
    <ion-title>Schedule Detail</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="common-bg">
  <!--  -->
  <ion-toolbar padding color="secondary">
    <h3 ion-text no-margin class="text-white text-1x">
      <strong>{{ schedule.pmt_route_id?.name }}</strong>
    </h3>
  </ion-toolbar>

  <ion-grid fixed>
    <ion-row margin-bottom>

      <ion-col col-12 col-md-6 *ngIf="schedule">
        <ion-card no-margin class="w100">
          <ion-card-header class="primary-bg">
            <h3 class="text-1x text-white bold">
              <ion-icon name="bus"></ion-icon>
              Select your seat(s)
            </h3>
          </ion-card-header>
          <hr class="primary-hr" no-margin>
          <ion-card-content no-padding>
            <ion-item class="itemm">
                <ion-thumbnail item-start>
                  <img [src]="vehicleLogo">
                </ion-thumbnail>
                <h3 ion-text color="dark">
                  <strong>{{ schedule?.boarding_date | date:'h:mm a' }}</strong>
                </h3>
                <h3> {{ seatsAvailable(schedule) }} Seats</h3>
                <h3 ion-text color="light">
                  <strong>{{ schedule.is_reservable ? "Available" : "Closed" }}</strong>
                </h3>
  
                <div item-end>
                  <ion-badge class="green-bg">
                    <h3 class="bold text-white">&#8358; {{ schedule.fare | number }}</h3>
                  </ion-badge>
                  <!-- <p class="text-sm">{{ schedule.schedule_status }}</p> -->
                </div>
              </ion-item>
            <ion-item class="itemm" text-center>
                <span ion-text class="text-sm">
                  <strong ion-text color="secondary">{{ schedule.pmt_route_id?.name }} </strong> • {{ schedule.vehicle_id?.vehicle_class | lowercase }} class | {{ schedule.vehicle_id?.vehicle_type }}
                </span>
              </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>

    <ion-row margin-bottom>
      <ion-col col-12>
        <ion-card no-margin class="w100">
          <ion-card-content no-padding>
            <ion-row>
              <ion-col col-3></ion-col>
              <ion-col col-3></ion-col>
              <ion-col col-3 *ngFor="let seatNo of getSeats(schedule.vehicle_id?.seating_capacity)">
                <ion-item class="border-bottom" text-wrap tappable (click)="selectSeat(seatNo)">
                  <ion-avatar align-items-center>
                    <div *ngIf="isSeatAvailable(seatNo) && isSeatSelected(seatNo)"><img class="seat-img" [src]="selectedSeat"></div>
                    <div *ngIf="isSeatAvailable(seatNo) && !isSeatSelected(seatNo)"><img class="seat-img" [src]="emptySeat"></div>
                    <div *ngIf="!isSeatAvailable(seatNo)"><img class="seat-img" [src]="occupiedSeat"></div>
                    <span ion-text *ngIf="!isSeatSelected(seatNo)" class="seat-num" [color]="seatColor(seatNo)">{{ seatNo }}</span>
                    <div *ngIf="isSeatSelected(seatNo)">
                      <ion-icon name="checkmark-circle" [color]="seatColor(seatNo)" class="seat-num"></ion-icon>
                    </div>
                  </ion-avatar>
<!--                  <ion-label>-->
<!--                    <button ion-button round small [color]="seatColor(s)"><h2> {{ s }} </h2></button>-->
<!--                  </ion-label>-->
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col col-12>
        <ion-item class="itemm">
          <h3 ion-text color="dark">
            Seat Quantity: <strong>{{ seatPositions?.length | number }} </strong>
          </h3>
          <h3 ion-text color="dark">
            Seat Positions: <strong>{{ seatPositions.join(', ')}}</strong>
          </h3>
          <div item-end>
            <ion-badge class="green-bg">
              <h3 class="bold text-white">&#8358; {{ ( seatPositions?.length * schedule.fare) | number }}</h3>
            </ion-badge>
            <p class="text-sm">Amount</p>
          </div>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <button ion-button large full round color="secondary" (click)="checkout()">Continue Booking</button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
