page-shipment-list,
.shipments {
  .itemm {
    padding-left: 10px;
    ion-thumbnail {
      img {
        width: 64px;
        height: 64px;
        margin-bottom: .5rem;
        border-radius: 1rem;
      }
    }
  }

}